@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');
*, *::after, *::before{
  font-family: 'Lato', sans-serif;
}
body {
  
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    min-height: 220vh!important;
    max-width: 100vw;
    position: relative;
    // overflow-x: hidden;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  * , *::after , *::before{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
  }
  #hero{
    min-height: 100vh;
    background: #2c2c2c;
  }


body{
  overflow-x:  hidden;
}
  .container{
    margin-left :auto ;
    margin-right :auto ;
    width : 100%;
    @media (min-width: 640px) {
    max-width : 640px!important;
    }
    @media (min-width: 768px) {
    max-width : 768px!important;
    }
    @media (min-width: 1024px) {
    max-width : 1024px!important;
    }
    @media (min-width: 1280px) {
    max-width : 1120px!important;
    }
    @media (min-width: 1536px) {
    max-width : 1120px!important;
    }
  }
  a{
    text-decoration: none;
    color : inherit;
}
ul{
    list-style: none;
}
h1{
    //styleName: Title;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: 48px;
    letter-spacing: 0px;
    text-align: center;
}
.container-width{
  margin-left :auto ;
  margin-right :auto ;
  width : 100%;
  @media (min-width: 640px) {
  max-width : 640px!important;
  }
  @media (min-width: 768px) {
  max-width : 768px!important;
  }
  @media (min-width: 1024px) {
  max-width : 1024px!important;
  }
  @media (min-width: 1280px) {
  max-width : 1280px!important;
  }
  @media (min-width: 1536px) {
  max-width : 1536px!important;
  }
    
}