.testies{
    // background: url('../assets/Testimonials.svg')center no-repeat!important;
    background-size: cover!important;
    color: white;
    position: relative;
    .arrow{
        background: white;
    }
    
}